@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Suez One' !important;

    .login-signup {
      border: 3px solid #00A2FF;
      border-radius: 4px;
      padding: 6px 24px;
    }

    .popup-content {
      border-radius: 8px;
      }

    .banner {
      background-image: url('../app/assets/Top-Banner.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 70px;
    }
    .store {
      position: relative;

      &::after {
        content: url(../app//assets/superbalist.svg);
        position: absolute;
        left: -20px;
    }
    }

    .brown-circ {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 27px;
        background-color: #91613D;
        border-radius: 50%;
        width: 16px;
        border: 2px solid #000;
        aspect-ratio: 1/1;
    }
    }

    .price {
      position: relative;

      &::after {
        content: url(/_next/static/media/discounted-price.94e01272.svg);
        position: absolute;
        right: 40px;
        bottom: 30px;
    }
   }

    .shoe-grid {
      margin: 30px 0px 50px 209px;

      .discount-badge {
        padding: 0px 15px;
        border-radius: 3px;
    }

    .low-stock-badge {
      font-style: italic;
      background-color: #0000008a;
      padding: 2px 5px;
      border-radius: 3px;
    }

    .shoe-details {

      &::after {
        content: url('../app/assets//superbalist.svg');
        position: absolute;
        top: 30px;
       }

       p {
        margin: 5px 0;
    }
    }
  }
}


/*----------------------------Media Queries----------------------------*/

@media screen and (max-width:866px) {
  .custom-mt {
    margin-top: 25px;
  }
}

@media screen and (max-width:728px) {
  .custom-gap {
    gap: 25px;
  }
}
@font-face {
  font-family: 'Suez One';
  src: url(../../public/Suez_One/SuezOne-Regular.ttf) format('opentype');
}
