@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Suez One' !important;
}


/*----------------------------Media Queries----------------------------*/

@media screen and (max-width:866px) {
  .custom-mt {
    margin-top: 25px;
  }
}

@media screen and (max-width:728px) {
  .custom-gap {
    gap: 25px;
  }
}
@font-face {
  font-family: 'Suez One';
  src: url(../../public/Suez_One/SuezOne-Regular.ttf) format('opentype');
}
