@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Suez One' !important;

      .login-signup {
        border: 3px solid transparent;
        border-radius: 4px;
        padding: 6px 24px;

      .active {
        border-color: #00A2FF;
      }
    }
}


/*----------------------------Media Queries----------------------------*/

@media screen and (max-width:866px) {
  .custom-mt {
    margin-top: 25px;
  }
}

@media screen and (max-width:728px) {
  .custom-gap {
    gap: 25px;
  }
}
@font-face {
  font-family: 'Suez One';
  src: url(../../public/Suez_One/SuezOne-Regular.ttf) format('opentype');
}
